extends ../layout.pug

block content 
    div(class='d-flex flex-row mx-auto content')
        div(class='profile-container')
        include ../includes/profile.pug
        div(class='flex-fill') liste des tweets 